src/main/resources/Weather.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ws/Weather" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Weather" targetNamespace="http://www.example.org/ws/Weather">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ws/Weather">
      <xsd:element name="WeatherOperation">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="correlationID" type="xsd:int" />
          	<xsd:element name="Miasto" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WeatherOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="correlationID" type="xsd:int" />
          	<xsd:element name="Temperatura" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WeatherOperationRequest">
    <wsdl:part element="tns:WeatherOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="WeatherOperationResponse">
    <wsdl:part element="tns:WeatherOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Weather">
    <wsdl:operation name="WeatherOperation">
      <wsdl:input message="tns:WeatherOperationRequest"/>
      <wsdl:output message="tns:WeatherOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WeatherSOAP" type="tns:Weather">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="WeatherOperation">
      <soap:operation soapAction="http://www.example.org/Weather/WeatherOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Weather">
    <wsdl:port binding="tns:WeatherSOAP" name="WeatherSOAP">
      <soap:address location="http://www.example.org/ws/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
